.features {
    padding: 100px 20px;
    background-color: $white;
    text-align: center;
    background: $bg-section-blue-40;

    a:last-of-type {
        @include breakpoint(md) {
            display: none;
        }
    }
}

.features__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 60px;

    @include breakpoint(md) {
        align-items: start;
        margin-bottom: 40px;
        gap: 8px;
        a {
            margin-bottom: 12px;
        }
    }
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;

    @include breakpoint(lg) {
        margin-bottom: 40px;
        gap: 60px;
    }
}

.features__item {
    border-radius: 24px;
    padding: 42px 24px 24px 24px;
    max-width: 373px;
    // height: 242px;
    @include breakpoint(md) {
        max-width: 320px;
        // height: 290px;
    }

    text-align: left;

    .features__item-title {
        font-weight: 900;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: $text-title;

        margin-bottom: 2px;
    }

    .features__item-sub-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.47;
        color: $text-title;

        margin-bottom: 18px;
    }

    .features__item-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.47;
        color: $text-paragraph;
    }

    .features__user {
        img {
            display: block;
            width: 62px;
            height: 62px;
        }
    }
}

.features__item:nth-child(1) {
    position: relative;

    .features__user {
        display: grid;
        place-items: center;
        position: absolute;
        top: -3rem;
        left: 1.5rem;

        border-radius: 1000px;
        width: 70px;
        height: 70px;

        box-shadow: 0 8px 24px 0 rgba(238, 131, 110, 0.6);
        background: $card-benefits-avatar-avatar-bg-red;
    }

    border: 2px solid $card-benefits-avatar-avatar-bg-red;
    background: $white
        linear-gradient(
            180deg,
            rgba(238, 131, 110, 0) 0%,
            rgba(238, 131, 110, 0.2) 100%
        );
}

.features__item:nth-child(2) {
    position: relative;

    .features__user {
        display: grid;
        place-items: center;
        position: absolute;
        top: -3rem;
        left: 1.5rem;

        border-radius: 1000px;
        width: 70px;
        height: 70px;

        box-shadow: 0 8px 24px 0 rgba(205, 110, 238, 0.6);
        background: $card-benefits-avatar-avatar-bg-violet;
    }

    border: 2px solid $card-benefits-avatar-avatar-bg-violet;
    background: $white
        linear-gradient(
            180deg,
            rgba(142, 68, 173, 0) 0%,
            rgba(142, 68, 173, 0.2) 100%
        );
}

.features__item:nth-child(3) {
    position: relative;

    .features__user {
        display: grid;
        place-items: center;
        position: absolute;
        top: -3rem;
        left: 1.5rem;

        border-radius: 1000px;
        width: 70px;
        height: 70px;

        box-shadow: 0 8px 24px 0 rgba(110, 138, 238, 0.6);
        background: $card-programm-title-blue-title;
    }

    border: 2px solid $card-programm-title-blue-title;
    background: $white
        linear-gradient(
            180deg,
            rgba(74, 140, 255, 0) 0%,
            rgba(74, 140, 255, 0.2) 100%
        );
}
