.programs {
    padding: 100px 20px;
    background-color: $white;
    text-align: center;

    // @include breakpoint(md) {
    //     padding: 100px 20px;
    // }
}

.programs__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-bottom: 60px;

    @include breakpoint(md) {
        align-items: start;
        margin-bottom: 40px;
        gap: 8px;
    }
}

.programs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.programs__items {
    position: relative;
    text-align: left;

    img {
        width: 100%;
    }
}

.item01-inner,
.item02-inner,
.item03-inner {
    position: absolute;
    display: flex;
    flex-direction: column;

    padding: 24px;

    p:first-of-type {
        font-weight: 900;
        font-size: $fz-64-48;
        line-height: 0.9;
        letter-spacing: -0.01em;
        text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.24),
            1px 1px 4px rgba(255, 255, 255, 0.34);
    }

    p:last-of-type {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.47;
        color: $text-paragraph;
    }
}

.item01-inner {
    transform: rotate(-1deg);

    p:first-of-type {
        color: $card-programm-title-blue-title;
    }

    @include breakpoint(md) {
        transform: rotate(0deg);
    }
}

.item02-inner {
    p:first-of-type {
        color: $card-programm-title-orange-title;
    }
}

.item03-inner {
    transform: rotate(1deg);

    p:first-of-type {
        color: $card-programm-title-red-title;
    }

    @include breakpoint(md) {
        transform: rotate(0deg);
    }
}
