// Inter
@font-face {
  font-family: 'Inter';
  src:
    url('@/assets/fonts/inter/Inter-Bold.woff2') format('woff2'),
    url('@/assets/fonts/inter/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('@/assets/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Nunito
@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/nunito/Nunito-Medium.woff2') format('woff2'),
    url('@/assets/fonts/nunito/Nunito-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/nunito/Nunito-Black.woff2') format('woff2'),
    url('@/assets/fonts/nunito/Nunito-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/nunito/Nunito-Bold.woff2') format('woff2'),
    url('@/assets/fonts/nunito/Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/nunito/Nunito-Regular.woff2') format('woff2'),
    url('@/assets/fonts/nunito/Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Roboto
@font-face {
  font-family: 'Roboto';
  src:
    url('@/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('@/assets/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
