:root {
  --font-family: 'Nunito', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Roboto', sans-serif;

  --white: #fff;
  --black: #0f0f10;
  --divider: rgba(47, 99, 234, 0.25);
  --icon-icon-blue: #2f63ea;
  --icon-icon-white: #fff;
  --base-black-secondary: #202124;
  --base-primary: #0e4cea;
  --base-primary-lighten: #3867ed;
  --base-primary-darken: #0c41c7;
  --base-secondary-blue: #2f63ea;
  --base-bg-light: #f0f2f7;
  --base-borderline: rgba(104, 117, 151, 0.5);
  --base-borderline-250: rgba(104, 117, 151, 0.25);
  --base-logo-primary: #2f63ea;
  --illustration-bg: #b2c2ff;
  --illustration-shape: #96acff;
  --illustration-icon-orange: #ff8c00;
  --illustration-icon-red: #fc4a26;
  --text-title: rgba(15, 15, 16, 0.95);
  --text-paragraph: rgba(15, 15, 16, 0.8);
  --text-caption: rgba(15, 15, 16, 0.7);
  --bg-section-white: #fff;
  --bg-section-orange-50: #fff2e5;
  --bg-section-blue-50: #e6f4fe;
  --bg-section-blue-40: #eaf3ff;
  --bg-section-section-bg-liner: #fff;
  --bg-card: #ccdffb;
  --bg-card-lighten: #e2ecfd;
  --bg-card-darken: #c1d3ed;
  --card-programm-title-red-title: #ff5252;
  --card-programm-title-orange-title: #ffa500;
  --card-programm-title-blue-title: #4a8cff;
  --card-programm-icon-blue-icon: #4a8cff;
  --card-programm-icon-red-icon: #ff5252;
  --card-programm-icon-orange-icon: #ffa500;
  --card-programm-stroke-stroke-blue: #4a8cff;
  --card-programm-stroke-stroke-orange: #ffa500;
  --card-programm-stroke-stroke-red: #ff5252;
  --card-programm-bg-liner-bg-blue: #fff;
  --card-programm-bg-liner-bg-orange: #fff;
  --card-programm-bg-liner-bg-red: #fff;
  --card-benefits-avatar-avatar-bg-blue: #4a8cff;
  --card-benefits-avatar-avatar-bg-red: #ff6f61;
  --card-benefits-avatar-avatar-bg-violet: #af7ac5;
  --card-benefits-bg-liner-liner-bg-blue: #fff;
  --card-benefits-bg-liner-liner-bg-red: #fff;
  --card-benefits-bg-liner-liner-bg-violet: #fff;
  --card-benefits-stroke-stroke-blue: #4a8cff;
  --card-benefits-stroke-stroke-red: #ff6f61;
  --card-benefits-stroke-stroke-violet: #af7ac5;
  --card-calendar-title: #ff8c00;
  --card-calendar-date-text: #ff8c00;
  --card-calendar-bg-liner: #fff;
  --card-calendar-stroke-orange: #ff8c00;
  --card-calendar-icon-orange: #ff8c00;
  --card-calendar-icon-white: #fff;
  --card-calendar-shape-card: #fff2e5;
  --title-accent-accent-title-blue: #2f63ea;
  --title-accent-accent-title-orange: #ff8c00;
  --title-accent-accent-title-green: #16b913;
  --card-schedule-bg-liner: #fff;
  --card-schedule-title: #3a7aff;
  --card-schedule-caption: #4a8cff;
  --card-schedule-time-text: #3a7aff;
  --card-schedule-icon-bg: #4a8cff;
  --card-schedule-stroke: #4a8cff;
  --card-schedule-icon: #fff;
  --card-schedule-shape-card: #deeafc;
  --card-study-green-icons: #00bf00;
  --card-study-green-stroke: #00bf00;
  --card-study-green-title-green: #00bf00;
  --card-study-green-badge-green: #00bf00;
  --card-study-green-bg-icons-button: rgba(19, 19, 20, 0.8);
  --card-study-orange-stroke: #ff8c00;
  --card-study-orange-bg-top-bar: #ff8c00;
  --card-study-orange-title-orange: #ff8c00;
  --card-study-orange-bg-card-study: #fff;
  --card-study-orange-bg-badge: #ff8c00;
  --card-study-orange-srkoke-badge: rgba(102, 53, 20, 0.2);
}
