// Nunito Medium
// 157
// Nunito Black
// 127
// Nunito Bold
// 50
// Nunito Regular
// 22
// Inter Semi Bold
// 8
// Inter Bold
// 4
// Roboto Medium
// 2

// Nunito Medium
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/Nunito-Medium.woff2") format("woff2"),
        url("./fonts/Nunito-Medium.woff") format("woff");
}
// Nunito Black
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/Nunito-Black.woff2") format("woff2"),
        url("./fonts/Nunito-Black.woff") format("woff");
}
// Nunito Bold
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Nunito-Bold.woff2") format("woff2"),
        url("./fonts/Nunito-Bold.woff") format("woff");
}
// Nunito Regular
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Nunito-Regular.woff2") format("woff2"),
        url("./fonts/Nunito-Regular.woff") format("woff");
}

// Inter Semi Bold
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/Inter-SemiBold.woff2") format("woff2"),
        url("./fonts/Inter-SemiBold.woff") format("woff");
}
// Inter Bold
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Inter-Bold.woff2") format("woff2"),
        url("./fonts/Inter-Bold.woff") format("woff");
}

// Roboto Medium
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/Roboto-Medium.woff2") format("woff2"),
        url("./fonts/Roboto-Medium.woff") format("woff");
}
