@use './../base/mixins' as mix;

html:root {
  /*---Scroll bar colors---*/
  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

@media (hover: hover) {
  body::-webkit-scrollbar {
    width: mix.rem(8);
    background: var(--scroll-bar-color);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
  }

  body::-webkit-scrollbar-thumb:hover {
    border-radius: mix.rem(16);
    background: var(--scroll-thumb-hover-color);
  }
}
